
<h2>Hemos reseteado tu contraseña</h2>
<h4>Tu nueva contraseña es: @ViewBag.NewPassword</h4>


<p>Te recordamos que luego de iniciar sesión cambies tu contraseña</p>

<p>Atte.</p>
<p>EduClass.Team</p>

