@using System.Configuration;
@{ 
    var server = ConfigurationManager.AppSettings["UrlServer"]+ "/Groups/InviteStudentByMail?person=";
}
<p>Has sido invitado a un nuevo grupo de Edu.Class</p>
<p>Puedes unirte desde la APP usando la clave <h2>@ViewBag.UrlGroup</h2></p>
<p>O usar el siguiente link desde la web:</p>
<a href="@server@ViewBag.UrlGroup">@server@ViewBag.UrlGroup</a>