@using System.Configuration;
@{
    var server = ConfigurationManager.AppSettings["UrlServer"] + "/Users/EnableByMail?person=";
}

<p>Su ususario ha sido creado correctamente</p>
<p>Haga click en el siguiente Link para completar la Activacion.</p>

<a href="@server@ViewBag.urlPerson">@server@ViewBag.urlPerson</a>