@{ Layout = "_SimpleLayout"; }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (!(bool)ViewBag.Sended)
    {
        <div class="form-group mb10">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" class="form-control" name="email" placeholder="juan@ejemplo.com" value="" />
            </div>
        </div>
        <div class="form-group mb10">
            <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Resetear contraseña" />
            </div>
        </div>

    }
    else
    {
        <div class="form-group mb10">
            <div class="alert alert-success">
                <p>Te hemos enviado un correo electrónico para que resetees tu contraseña</p>
            </div>
        </div>
    }
}