@model EduClass.Web.Infrastructure.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Preguntas Frecuentes";
}
<html>
<head>
    <style>
        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }

        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "e072"; /* "play" icon */
            float: right;
            color: #F58723;
            font-size: 18px;
            line-height: 22px;
            /* rotate "play" icon from > (right arrow) to down arrow */
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .panel-heading [data-toggle="collapse"].collapsed:after {
            /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            color: #454444;
        }

        
    </style>
</head>
<body>
<div class="container">

  

    <div class="panel-group" id="accordion">
        <div class="faqHeader">GENERALES</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">¿Que es Edu.Class?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Edu.Class es una plataforma gratuita para alumnos y profesores. Se pueden compartir archivos, postear información, crear eventos, etc.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">¿Cuál es el costo mensual?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Edu.Class es completamente gratuito y sin ningún costo mensual.
                </div>
            </div>
        </div>

        <div class="faqHeader">PROFESOR</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">¿Qué puedo hacer siendo Profesor?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    El profesor es el administrador de cada clase y tiene acceso a todo el sistema en lo referente a sus grupos.
                    Puede crear grupos invitar alumnos, compartir archivos, gestionar eventos y paginas públicas, crear pruebas diagnósticas y editar las calificaciones, entre otras cosas.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">¿Cómo hago para crear un grupo?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    El en menú vertical, se puede crear los grupos que se deseen. Luego de crearlo, podras empezar a invitar alumnos a unirse.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">¿Cómo hago para compartir información con mis alumnos?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    El Dashboard es la sección principal del programa donde se podrán hacer post y visualizar los creados por los miembros del grupo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">¿Puedo eliminar un Post?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Cualquier usuario puede eliminar sus Post si son de su autoría. El profesor del grupo tiene ese privilegio y el de poder eliminar cualquier Post o comentario de sus alumnos.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">¿Puedo compartir archivos?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    En la sección de Mis Archivos, se pueden subir cualquier archivo que el profesor cree necesario. Una vez subido el o los archivos, se pueden compartir a los alumnos, eliminar o descargar en el dispositivo desde la que este accediendo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">¿Es posible suspender a un alumno del sistema?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    Desde el menú Contactos, se puede silenciar el alumno y no podrá escribir ningún post o hacer comentarios. Si se desea expulsar al alumno, también se puede hacer desde esa sección.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">¿Existe un máximo de grupos que se pueden crear?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    No hay máximo de grupos establecido
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">¿Existe la opción de crear pruebas múltiple opción que, cargando las respuestas correctas previamente, le marquen la calificación automáticamente a cada alumno?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    En el menú Pruebas diagnósticas, se puede crear pruebas donde se podrá hacer cualquier tipo de pregunta. Todas estas preguntas se corrigen automáticamente cuando el alumno las contesta o si es texto libre, el profesor puede dar su propio criterio para indicar si es correcta o no.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">¿Puedo ver o cambiar las contraseñas de mis alumnos? ¿Cómo puedo ayudarlos si la olvidan?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    No es posible cambiar la contraseña de otros usuarios, pero cada usuario puede resetear su contraseña al iniciar Edu.Class en el Log In en la sección “¿Olvide mi Contraseña?”.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">¿Dónde quedan alojados los archivos que se suben? ¿Cuál es la diferencia con tenerlos en Dropbox?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    Los archivos que el profesor sube, quedan almacenados en los servidores de Edu.Class.
                    La integración con Dropbox, permite al usuario poder importar a Edu.Class los archivos que tenga en la carpeta EduClassFolder se su cuenta de Dropbox. Si la carpeta no existe, el sistema se encarga de crearla. Todo esto se logra siempre y cuando el usuario haya permito integrar Dropbox con Edu.Class.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">¿Puedo eliminar mi usuario?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    En le sección Mi Perfil, es posible modificar cualquier dato del usuario y también darlo de baja.
                </div>
            </div>
        </div>

        <div class="faqHeader">ALUMNO</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">¿Qué puedo hacer siendo Alumno?</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                    El alumno podrá unirse a cualquier grupo que tenga la clave o siendo invitado por un profesor.
                    Podrá crear Post y comentarios, descargar los archivos compartidos por el profesor y visualizar eventos y páginas públicas. Además, cuando haya una prueba diagnóstica disponible, puede responder de la misma y visualizar el resultado.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifthteen">¿Puedo pertenecer a más de un grupo?</a>
                </h4>
            </div>
            <div id="collapseFifthteen" class="panel-collapse collapse">
                <div class="panel-body">
                    El alumno puede pertenecer a todos los grupos que desee, pero es criterio del profesor del grupo de mantearlo o no en el mismo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">¿Qué sucede si olvidé mi contraseña?</a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body">
                    Antes de iniciar, puede ir a la sección “¿Olvide mi Contraseña?”. Proporcionando el mail de su cuenta Edu.Class, podrá resetear la contraseña.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">Si pertenezco a un solo grupo y el profesor lo da de baja, ¿qué sucede con mi usuario?</a>
                </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="panel-body">
                    El usuario es independiente del grupo, por lo tanto cuando un grupo es dado de baja ya no podrá visualizar información correspondiente a ese grupo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">¿Puedo modificar mis datos personales?</a>
                </h4>
            </div>
            <div id="collapseEighteen" class="panel-collapse collapse">
                <div class="panel-body">
                    En la sección Mi Perfil, se puede cambiar todos los datos personales del usuario.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">¿Es posible eliminar un comentario de un post?</a>
                </h4>
            </div>
            <div id="collapseNineteen" class="panel-collapse collapse">
                <div class="panel-body">
                    En le sección Mi Perfil, es posible modificar cualquier dato del usuario y también darlo de baja.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">¿Puedo eliminar mi usuario?</a>
                </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse">
                <div class="panel-body">
                    Si es autor del comentario, el alumno lo puede eliminar.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">¿El sistema tiene chat incorporado?</a>
                </h4>
            </div>
            <div id="collapseTwentyone" class="panel-collapse collapse">
                <div class="panel-body">
                    Edu.Class tiene una sección de Mensajes, para enviar mensajes a otros alumnos o al profesor del grupo por consultas.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo">¿Puedo eliminar mi usuario?</a>
                </h4>
            </div>
            <div id="collapseTwentytwo" class="panel-collapse collapse">
                <div class="panel-body">
                    En le sección Mi Perfil, es posible modificar cualquier dato del usuario y también darlo de baja.
                </div>
            </div>
        </div>

        <div class="faqHeader">Contacto <a href="mailto:mail.edu.class@gmail.com">mail.edu.class@gmail.com</a><br></div>
        
    </div>
</div>


    @Scripts.Render("~/bundles/jquery")
</body>
</html>
